---
import MemberCard from "../components/MemberCard.astro";
import Layout from "../layouts/Layout.astro";
import members from "../../data/members.json";
---

<Layout>
  <section class="mt-10">
    <div class="grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      {members.map((member) => <MemberCard {...member} />)}
    </div>
  </section>
</Layout>
