<div class="flex-row justify-items-center">
  <img class="m-4" src="../../witch.gif" alt="witch" />
  <h2 class="text-2xl">En construcción</h2>
  <p>¡Nuestra web estará disponible pronto!</p>
  <p>
    Mientras tanto, puedes unirte a nuestra comunidad a través de Telegram y
    Discord, o escribirnos a <i>aquelarredixital@tutamail.com</i>
  </p>
</div>
