---
const telegramUrl = "https://t.me/+KvfaaWrJoadjMTE8";
const discordUrl = "https://discord.gg/RwF62T8ac7";
---

<div class="flex justify-center gap-4 mt-4">
  <a
    href={telegramUrl}
    target="_blank"
    rel="noopener noreferrer"
    class="px-4 py-2 rounded-lg font-semibold border-1"
    aria-label="Telegram"
  >
    Telegram
  </a>
  <a
    href={discordUrl}
    target="_blank"
    rel="noopener noreferrer"
    class="px-4 py-2 rounded-lg font-semibold border-1"
    aria-label="Discord"
  >
    Discord
  </a>
</div>
