---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Aquelarre Dixital</title>
  </head>
  <body>
    <header>
      <h1 class="text-center text-3xl font-bold mt-4">AQUELARRE DIXITAL</h1>
    </header>
    <main>
      <slot />
    </main>
    <!-- <footer class="text-center text-sm p-4 text-gray-600">
      Aquí va el footer 🩷
    </footer> -->
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
